@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align:center;">[devcibertec2016] - Trabajo Final </h2>
    <p class="lead">@ViewBag.sNombres</p>
    <!--p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    @*<div class="col-md-2">
        <h2>Productos</h2>
        <p>
            Productos
        </p>
        <p><a class="btn btn-default" href="/Productos/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Categorias</h2>
        <p>Categorias</p>
        <p><a class="btn btn-default" href="/Categoria/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Proveedores</h2>
        <p>Comprobante</p>
        <p><a class="btn btn-default" href="/Comprobante/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Roles</h2>
        <p>Comprobante</p>
        <p><a class="btn btn-default" href="/Comprobante/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Usuarios</h2>
        <p>Comprobante</p>
        <p><a class="btn btn-default" href="/Comprobante/">Learn more &raquo;</a></p>
    </div>*@
</div>